@model TopMusicApplication.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <h1>Top Music</h1>
        <h2>They need your votes</h2>
        <hr />
    </div>
    <div class="row">
        <h3>Top Categories</h3>

        @foreach (var item in Model.TopRankCategories)
        {
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge"><a href="@Url.Action("Index", "Vote", new { category_id = item.Category_ID })">Vote Now</a></span>
                        <span><strong>@item.Name</strong></span> @item.Description
                    </li>
                </ul>
            </div>
        }

    </div>
    <div class="row">
        <h3>New Categories</h3>

        @foreach (var item in Model.NewCategories)
        {
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge"><a href="@Url.Action("Index", "Vote", new { category_id = item.Category_ID })">Vote Now</a></span>
                        <span><strong>@item.Name</strong></span> @item.Description
                    </li>
                </ul>
            </div>
        }
    </div>
</div>
